
body {
  background-image: url(americo.jpg);
  background-size: cover
}

.main-div{
  background-color: white;
  opacity: 0.8;
}

.main-div .nav-link{
  color: white;
}

.main-div .highlight{
  color: yellow !important;
}

.izu {
  opacity: 0.4 !important;
}

.location_pic{
  height: 200px !important;
  width: 200px;
}
